.hotel-mixin() {
  margin: 0;
  padding: 0 20px;
  line-height: @line-height--info;
  background: @bg-color--white;
}

.inline-block() {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;

}

