/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@because-name: because;
@because-x: 0px;
@because-y: 134px;
@because-offset-x: 0px;
@because-offset-y: -134px;
@because-width: 197px;
@because-height: 54px;
@because-total-width: 280px;
@because-total-height: 268px;
@because-image: '../img/min/sprite.png';
@because: 0px 134px 0px -134px 197px 54px 280px 268px '../img/min/sprite.png' because;
@btn-cancel-name: btn-cancel;
@btn-cancel-x: 254px;
@btn-cancel-y: 134px;
@btn-cancel-offset-x: -254px;
@btn-cancel-offset-y: -134px;
@btn-cancel-width: 23px;
@btn-cancel-height: 22px;
@btn-cancel-total-width: 280px;
@btn-cancel-total-height: 268px;
@btn-cancel-image: '../img/min/sprite.png';
@btn-cancel: 254px 134px -254px -134px 23px 22px 280px 268px '../img/min/sprite.png' btn-cancel;
@btn-open-name: btn-open;
@btn-open-x: 227px;
@btn-open-y: 198px;
@btn-open-offset-x: -227px;
@btn-open-offset-y: -198px;
@btn-open-width: 23px;
@btn-open-height: 22px;
@btn-open-total-width: 280px;
@btn-open-total-height: 268px;
@btn-open-image: '../img/min/sprite.png';
@btn-open: 227px 198px -227px -198px 23px 22px 280px 268px '../img/min/sprite.png' btn-open;
@by-name: by;
@by-x: 190px;
@by-y: 198px;
@by-offset-x: -190px;
@by-offset-y: -198px;
@by-width: 27px;
@by-height: 30px;
@by-total-width: 280px;
@by-total-height: 268px;
@by-image: '../img/min/sprite.png';
@by: 190px 198px -190px -198px 27px 30px 280px 268px '../img/min/sprite.png' by;
@fb-name: fb;
@fb-x: 260px;
@fb-y: 198px;
@fb-offset-x: -260px;
@fb-offset-y: -198px;
@fb-width: 9px;
@fb-height: 19px;
@fb-total-width: 280px;
@fb-total-height: 268px;
@fb-image: '../img/min/sprite.png';
@fb: 260px 198px -260px -198px 9px 19px 280px 268px '../img/min/sprite.png' fb;
@food-name: food;
@food-x: 207px;
@food-y: 134px;
@food-offset-x: -207px;
@food-offset-y: -134px;
@food-width: 37px;
@food-height: 35px;
@food-total-width: 280px;
@food-total-height: 268px;
@food-image: '../img/min/sprite.png';
@food: 207px 134px -207px -134px 37px 35px 280px 268px '../img/min/sprite.png' food;
@for-name: for;
@for-x: 253px;
@for-y: 58px;
@for-offset-x: -253px;
@for-offset-y: -58px;
@for-width: 27px;
@for-height: 33px;
@for-total-width: 280px;
@for-total-height: 268px;
@for-image: '../img/min/sprite.png';
@for: 253px 58px -253px -58px 27px 33px 280px 268px '../img/min/sprite.png' for;
@house-name: house;
@house-x: 206px;
@house-y: 58px;
@house-offset-x: -206px;
@house-offset-y: -58px;
@house-width: 37px;
@house-height: 37px;
@house-total-width: 280px;
@house-total-height: 268px;
@house-image: '../img/min/sprite.png';
@house: 206px 58px -206px -58px 37px 37px 280px 268px '../img/min/sprite.png' house;
@logo-name: logo;
@logo-x: 0px;
@logo-y: 198px;
@logo-offset-x: 0px;
@logo-offset-y: -198px;
@logo-width: 138px;
@logo-height: 70px;
@logo-total-width: 280px;
@logo-total-height: 268px;
@logo-image: '../img/min/sprite.png';
@logo: 0px 198px 0px -198px 138px 70px 280px 268px '../img/min/sprite.png' logo;
@price-name: price;
@price-x: 148px;
@price-y: 198px;
@price-offset-x: -148px;
@price-offset-y: -198px;
@price-width: 32px;
@price-height: 38px;
@price-total-width: 280px;
@price-total-height: 268px;
@price-image: '../img/min/sprite.png';
@price: 148px 198px -148px -198px 32px 38px 280px 268px '../img/min/sprite.png' price;
@sedona-name: sedona;
@sedona-x: 0px;
@sedona-y: 0px;
@sedona-offset-x: 0px;
@sedona-offset-y: 0px;
@sedona-width: 280px;
@sedona-height: 48px;
@sedona-total-width: 280px;
@sedona-total-height: 268px;
@sedona-image: '../img/min/sprite.png';
@sedona: 0px 0px 0px 0px 280px 48px 280px 268px '../img/min/sprite.png' sedona;
@tw-name: tw;
@tw-x: 206px;
@tw-y: 105px;
@tw-offset-x: -206px;
@tw-offset-y: -105px;
@tw-width: 19px;
@tw-height: 15px;
@tw-total-width: 280px;
@tw-total-height: 268px;
@tw-image: '../img/min/sprite.png';
@tw: 206px 105px -206px -105px 19px 15px 280px 268px '../img/min/sprite.png' tw;
@welcome-name: welcome;
@welcome-x: 0px;
@welcome-y: 58px;
@welcome-offset-x: 0px;
@welcome-offset-y: -58px;
@welcome-width: 196px;
@welcome-height: 66px;
@welcome-total-width: 280px;
@welcome-total-height: 268px;
@welcome-image: '../img/min/sprite.png';
@welcome: 0px 58px 0px -58px 196px 66px 280px 268px '../img/min/sprite.png' welcome;
@youtube-name: youtube;
@youtube-x: 235px;
@youtube-y: 105px;
@youtube-offset-x: -235px;
@youtube-offset-y: -105px;
@youtube-width: 20px;
@youtube-height: 14px;
@youtube-total-width: 280px;
@youtube-total-height: 268px;
@youtube-image: '../img/min/sprite.png';
@youtube: 235px 105px -235px -105px 20px 14px 280px 268px '../img/min/sprite.png' youtube;
@spritesheet-width: 280px;
@spritesheet-height: 268px;
@spritesheet-image: '../img/min/sprite.png';
@spritesheet-sprites: @because @btn-cancel @btn-open @by @fb @food @for @house @logo @price @sedona @tw @welcome @youtube;
@spritesheet: 280px 268px '../img/min/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
