@bg-color:                     #81b3d2;
@bg-color--white:              #fff;

@text-color--main:             #fff;
@text-color--note:             #000;


@font-size-base:              13px;
@font-size--nav:              16px;
@font-size--h1:               16px;
@font-size--h2:               13px;
@font-size--h3:               16px;
@font-family:                 'PT Sans', Arial, sans-serif;
@font-weight--bold:           700;
@font-weight--reg:            normal;

@line-height--header:         56px;
@line-height--info:           24px;
@line-height--numb:           21px;
@line-height--form:           36px;
@line-height--footer:         60px;



@col-1:                       100%;
@col-2:                       66.666667%;
@col-3:                       33.333333%;
@col-5:                       20%;


@screen-md:                   768px;
@screen-lg:                   1280px;