*, *:before, *:after { box-sizing: inherit; }


html {
}

body {
  font-family: @font-family;
  font-size: @font-size-base;
  text-align: center;
  text-transform: @text-up;
}

h1 {
  font-size: @font-size--h1;
  font-width: @font-width--bold;
}

a {

  &:hover,
  &:focus {
  }
}

.wrap {
  width: 320px;
  margin: 0 auto;
}

.title-like-h2 {
  font-size: @font-size--h2;
  font-width: @font-width--reg;
}

