html {
}

body {
  font-family: @font-family;
  font-size: @font-size-base;
  text-align: center;
  text-transform: uppercase;
  overflow-x: hidden;
}

h1 {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: @font-size--h1;
  font-weight: @font-weight--bold;
}

a {

  &:hover,
  &:focus {
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.title-like-h2 {
  position: relative;
  margin-top: 20px;
  line-height: 24px;
  font-size: @font-size--h2;
  font-weight: @font-weight--reg;

  &::after {
    position: absolute;
    .inline-block;
    content: " ";
    left: -70%;
    bottom: -37px;
    width: 766px;
    height: 37px;
    background: url('../img/min/img-top.png') no-repeat 50% 0;
  }
}

