.btn {
  box-sizing: border-box;
  position: absolute;
  width: @line-height--header;
  height: @line-height--header;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  z-index: 10;

  &--cancel {

  }

  &--open {

  }
}