.footer{
  position: relative;
  padding-top: 415px;

    &__box {
      position: relative;
      background-color: @bg-color--white;
      opacity: .9;

    }
}

.map {
  position: absolute;
  top: 0;
  width: 100%;
  height: 590px;
  background: url("../img/min/map.jpg") no-repeat 0 0;
}

.hashtag {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  line-height: @line-height--footer;
  color: @text-color--note;
  font-family: @font-family;
  font-weight: @font-weight--bold;
  font-size: 21px;
}