.social {
  margin-bottom: 40px;

  &__item {
    .inline-block;
    width: 48px;
    height: 48px;
    margin-right: 6px;
    background-color: @bg-color;


    &--tw {}
    &--fb {}
    &--youtube {}
  }
}

.design {
  a {
    .inline-block;
    text-decoration: none;
    color: @text-color--note;
    font-size: 14px;
    line-height: 30px;
    padding-right: 40px;
  }

  &__by {

  }

  &__for {

  }

}